h1,
h4 {
    /*aligns page title to center*/
    text-align: center;
    
}

.image {
    /* centers image */
    text-align: center;
}

.pasta,
.pork,
.ramen {
    /* stylizes each button */
    background-color: yellow;
    color: white;
    font-weight: bold;
    text-align: center;
}

.buttons {
    /* aligns all of the buttons to the center of the page */
    text-align: center;
  
}